# Build artifacts
build/
node_modules/

# macOS
.DS_Store
*.dSYM/

# IDE & Language Server
.vscode/
.idea/
.cache/
*.swp
*.swo

# Temporary & Logs
*.log
*.tmp

# Sensitive Keys, Certificates & Credentials
*.p12
*.pfx
*.pem
*.key
*.cer
*.crt
*.mobileprovision
*.provisionprofile
SaxNote.md
